:root{
    --prevery-color:#FFFFFF;
    --privery-dark-color:#121722;
    --dark-color:#121722B2;
    --button-text-color:#4058FF;
    --button-text-background-color:#408CFF1A;
    --header-button-background:#4058FF;
}